* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.container {
    max-width: 971px;
    margin: 0 auto;
}

.wrapper {
    min-height: 100%;
    min-width: 100%;
}

.top-zelda {
    padding-top: 1.2%;
    max-height: 725px;
    width: 100%;
    background-image: url(img/2.jpg);
}

.header {
    background-color: #000;
    height: 83px;
    opacity: 0.7;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-logo {
    color: #fff;
    float: left;
    max-width: 171px;
}

.header-logo a {
    text-decoration: none;
    display: block;
}

.historical {
    color: #ffffff;
    font-family: Poppins;
    font-size: 1.875vw;
    font-weight: 500;
    line-height: 1.16vw;
    letter-spacing: 0.77px;
}

.games {
    color: #ffffff;
    font-family: Poppins;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 1.16vw;
    text-transform: uppercase;
    letter-spacing: 1.56vw;
}

.header-contacts {
    flex: 1 1 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding-left: 16.3%;
    padding-right: 10.31%;
}

.header-contacts-phone {
    display: flex;
}

.header-contacts span {
    color: #fff;
    font-size: ;
    margin-right: 10px;
    float: left;
}

.header-contacts p {
    color: #fff;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 400;
    line-height: 22.36px;
    letter-spacing: 0.36px;
    padding-top: 3px;
}

.header-search {
    position: relative;
}

#search {
    width: 208px;
    height: 38px;
    border: 1px solid #ffffff;
    background: #000;
    padding-left: 16px;
    padding-top: 3px;
    color: #fff;
}

#search::placeholder {
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 400;
    line-height: 22.36px;
    letter-spacing: 0.36px;
}

.email-button {
    background-color: transparent;
    border: none;
    border-left: 1px solid #fff;
    color: #fff;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
}

.email-button:active {
    display: none;
}

.navigation {
    border-bottom: 1px solid #ccc;
    padding-left: 23.6%;
    height: 78px;
    display: flex;
    align-items: center;
}

.header-burger {
    display: none;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu li {
    margin-right: 33px;
}

.menu-link {
    text-decoration: none;
    color: #000000;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 400;
    line-height: 22.36px;
    letter-spacing: 0.36px;
}

.menu-link:hover {
    color: #9c9c9c;
    border-bottom: 3px solid #9c9c9c;
    padding-bottom: 28px;
}

.top-zelda-content {
    padding-top: 7%;
    text-align: center;
    padding-bottom: 5.7%;
}

.nunc {
    display: inline-block;
    font-family: "Roboto Condensed";
    font-size: 1.4vw;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.18px;
    color: #000;
    border-bottom: 2px solid #000;
    margin-bottom: 8%;
}

.morbi {
    color: #000;
    font-family: Poppins;
    font-size: 4vw;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.6px;
}

.social-networks {
    margin-top: 8%;
}

.social-networks a {
    text-decoration: none;
    color: #000;
}

.social-networks span {
    font-size: 40px;
    margin-right: 20px;
}

.about-us {
    padding-top: 5%;
    padding-bottom: 5%;
}

.about-us:after {
    content: " ";
    display: table;
    clear: both;
}

.about-us-content {
    max-width: 398px;
    max-height: 338px;
    float: left;
}

.heading {
    color: #f44336;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
}

.about-us-text {
    color: #999999;
    font-family: "Roboto Condensed";
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.12px;
    margin-top: 8%;
}

.about-us-image {
    max-width: 540px;
    max-height: 338px;
    float: right;
}

.services {
    text-align: center;
    background-color: #f7f7f7;
    padding-top: 5.5%;
    padding-bottom: 6.3%;
    clear: both;
}

.services:after {
    content: " ";
    display: table;
    clear: both;
}

.services-left {
    max-width: 460px;
    float: left;
}

.services-right {
    max-width: 460px;
    float: right;
}

.services-left-1 {
    margin-top: 16%;
}

.services-left-1:after {
    content: " ";
    display: table;
    clear: both;
}

.services-right-1:after {
    content: " ";
    display: table;
    clear: both;
}

.services-right-1 {
    margin-top: 16%;
}

.services-left-text {
    text-align: right;
    float: left;
    max-width: 282px;
}

.services-right-text {
    text-align: left;
    float: right;
    max-width: 282px;
}

.services-header {
    color: #000000;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.16px;
    margin-bottom: 19px;
}

.services-main-text {
    color: #999999 !important;
    font-family: "Roboto Condensed";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.12px;
}

.services-left-1 span {
    display: block;
    cursor: pointer;
    float: right;
    border: 1px solid #000;
    font-size: 27px;
    border-radius: 50%;
    padding: 40.5px;
    background: #ccc;
    margin-left: 3.5vw;
}

.services-right-1 span {
    display: block;
    cursor: pointer;
    float: left;
    border: 1px solid #000;
    font-size: 27px;
    border-radius: 50%;
    padding: 40.5px;
    background: #ccc;
    margin-right: 3.5vw;
}

.services-link {
    text-decoration: none;
}

.secvices-circle:hover {
    background: #f44336;
}

.services-header:hover {
    color: #f44336;
}

.gallery {
    text-align: center;
    padding-top: 3.5%;
    padding-bottom: 8%;
}

.gallery-products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1175px;
    margin: 5.5% auto 0;
}

.wrap-1 {
    display: flex;
    justify-content: space-between;
    max-width: 572.5px;
    margin-right: 5px;
}

.wrap-2 {
    display: flex;
    justify-content: space-between;
    max-width: 572.5px;
    margin-left: 5px;
}

.rogue {
    margin-right: 30px;
}

.lich-king {
    margin-left: 30px;
}

.gallery-under-cover {
    max-width: 271px;
    background-color: #f7f7f7;
    padding-bottom: 13px;
}

.game-name {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 23.94px;
    text-transform: uppercase;
    letter-spacing: 0.14px;
    margin-top: 20px;
}

.name-lich {
    margin-top: 0px;
}

.game-buy {
    width: 130px;
    height: 30px;
    background-color: #f44336;
    border: none;
    color: #fff;
    color: #ffffff;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.14px;
    margin-top: 30px;
}

.buy-lich {
    margin-top: 7px;
}

.containerr {
    max-width: 1175px;
    margin: 0 auto;
}

.testimonial {
    max-height: 537px;
    background-image: url(img/3.jpg)
}

.testimonial-content {
    text-align: center;
    padding-top: 4.5%;
    padding-bottom: 5.2%;
}

.testimonial-word {
    color: #ffffff;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
}

.testim-quotes {
    margin-top: 7.7%;
}

.testim-quotes span {
    font-size: 38px;
    color: #ffffff;
    opacity: 0.7;
}

.testim-slider {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 4.4%;
    color: #fff;
}

.slider-text {
    max-width: 935px;
}

.donec {
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
}

.john-smith {
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 300;
}

.slider-prev {
    cursor: pointer;
    margin-top: 7px;
    font-size: 17px;
}

.slider-next {
    cursor: pointer;
    margin-top: 7px;
    font-size: 17px;
}

.fa-angle-left {
    border: 1px solid #fff;
    padding: 8px 12px 8px 12px;
}

.fa-angle-right {
    border: 1px solid #fff;
    padding: 8px 12px 8px 12px;
}

.news-events {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.news-events:after {
    content: " ";
    display: table;
    clear: both;
}

.news-left {
    width: 50%;
    float: left;
    margin-top: 9%;
}

.latest {
    color: #000000;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
    float: left;
}

.news-all {
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5.5%;
    margin-left: 3.25%;
    float: left;
    clear: both;
}

.news-all:after {
    content: " ";
    display: table;
    clear: both;
}

.news-all-text {
    display: flex;
}

.news-date {
    width: 98px;
    height: 99px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-radius: 42%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 11.5%;
}

.number {
    color: #000000;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 500;
}

.month-year {
    color: #9e9e9e;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
}

.news-content {
    max-width: 308px;
    float: right;
    text-align: left;
}

.news-heading {
    color: #f44336;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: bold;
    line-height: 48px;
    margin-top: 5%;
}

.news-text {
    color: #9e9e9e;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.news-right {
    width: 48.5%;
    float: right;
    margin-top: 9%;
    position: relative;
}

.news-right-heading {
    border-bottom: 1px solid #c5c5c5;
}

a.latest {
    text-decoration: none;
    float: right;
}

.latest.prev:before {
    content: ">";
    margin-left: 10px;
}

.latest.next:after {
    content: "<";
}

.clr {
    clear: both;
    max-width: 0px;
}

.news-right-images {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    overflow: auto;
}

.spoiler {
    max-height: 180px;
    text-align: left;
    position: relative;
}

.spoiler-1 {
    margin-top: 34px;
    transition: all 0.3s ease 0s;
}

.spoiler-2 {
    margin-top: 2px;
    transition: all 0.3s ease 0s;
}

.spoiler-header {
    width: 100%;
    height: 40px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.spoiler-header p {
    color: #000000;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: bold;
    line-height: 48px;
    font-size: 18px;
    transition: all 0.3s ease 0s;
}

.spoiler-header p:before {
    content: "+";
    margin-right: 13px;
    margin-left: 13px;
    transition: all 0.3s ease 0s;
}

.spoiler-content {
    color: #505050;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #000000;
    font-size: 12px;
    height: 104px;
    background-color: #f5f5f5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 1px solid #ffffff;
    transition: all 0.3s ease 0s;
}

.spoiler-content p {
    margin: 7% 5% 0 13px;
}


.spoiler-header.activee p:before {
    content: "-";
    margin-right: 13px;
    margin-left: 13px;
    transition: all 0.3s ease 0s;
}

.content-1 {
    opacity: 0;
    height: 0px;
    transition: all 0.3s ease 0s;
}

.content-1.activee {
    height: 144px;
    opacity: 1;
}

.content-2 {
    opacity: 0;
    height: 0px;
    transition: all 0.3s ease 0s;
}

.content-2.activee {
    height: 144px;
    opacity: 1;
}

.content-3 {
    opacity: 0;
    height: 0px;
    transition: all 0.3s ease 0s;
}

.content-3.activee {
    height: 144px;
    opacity: 1;
}

.content-4 {
    opacity: 0;
    height: 0px;
    transition: all 0.3s ease 0s;
}

.content-4.activee {
    height: 144px;
    opacity: 1;
}

.team {
    text-align: center;
    padding-top: 3.5%;
    padding-bottom: 80px;
    background: #f7f7f7
}

.employee-name {
    text-align: left;
    color: #f44336;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    margin-top: 27px;
}

.employee-position {
    text-align: left;
    color: #838383;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px; 
}

.employee-social {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 17px 0 0 0;
}

.employee-social a {
    text-decoration: none;
    color: #000;
}

.employee-social span {
    font-size: 20px;
}

.subscribe-us {
    background-image: url(img/%D0%A3%D1%80%D0%BE%D0%B2%D0%BD%D0%B8_1.jpg);
    background-position: center;
}

.subscribe-us-content {
    max-width: 650px;
    margin: 0 auto;
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: center;
}

.subscribe-us-content>.testimonial-word {
    font-size: 2.5vw;
}


.subscribe-email {
    height: 3vw;
    min-height: 29px;
    width: 25vw;
    min-width: 170px;
    margin-top: 53px;
    padding-left: 1.6vw;
    border: none;
}

.subscribe-email::placeholder {
    color: #8e8e8e;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
}

.subscribe-button {
    height: 3vw;
    min-height: 29px;
    min-width: 60px;
    width: 6.25vw;
    background-color: #f44336;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
    outline: none;
    border: none;
    margin-left: 10px;
}

.footer-contact-us {
    text-align: center;
    padding-top: 3.5%;
}
.contact-us-contacts {
    max-width: 48%;
    float: left;
    text-align: left;
    margin-top: 11.5%;
}

.contacts-heading {
    color: #f44336;
    font-family: "Roboto Condensed";
    font-size: 26px;
    font-weight: 400;
    line-height: 48px;
}

.contacts-text {
    color: #9e9e9e;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    margin-top: 21px;
}

.contacts-email {
    display: inline-block;
}

.contacts-emaill {
    display: inline-block;
    color: #f44336;
}

.contact-us-form {
    margin-top: 9.1%;
    max-width: 48%;
    float: right;
    text-align: left;
}

.contact-us-form ~ form {
    float: left;
}

.contact-form-namemail {
    height: 2.19vw;
    min-height: 30px;
    width: 99.9%;
    min-width: 170px;
    padding-left: 16px;
    margin-top: 20px;
    border: 1px solid #999
}

.contact-form-namemail::placeholder {
    color: #838383;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 400;
    line-height: 48px;
}

#Message {
    height: 8.75vw;
    min-height: 120px;
    width: 100%;
    min-width: 170px;
    padding-left: 16px;
    margin-top: 20px;
    border: 1px solid #999;
}

#Message::placeholder {
    color: #838383;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 400;
    line-height: 48px;
}

#Submit {
    margin: 19px 0 0 0;
    clear: both;
    
}

.footer-contact-us:after {
    content: " ";
    display: table;
    clear: both;
}

.footer-map {
    text-align: center;
    padding-top: 3.5%;
    padding-bottom: 5%;
}

.footer-map>iframe {
    margin-top: 25px;
}

.footer-bottom {
    height: 71px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom>p {
    color: #ffffff;
    font-family: "Arial Narrow";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.16px;
}

@media (max-width:1160px) {
    .wrap-1 {
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .wrap-2 {
        margin: 0 auto;
        flex-wrap: wrap;
    }
}


@media (max-width:992px) {
    .about-us {
        padding-bottom: 0px;
    }
    .about-us-content {
        max-width: 100%;
        float: none;
    }
    .about-us-text {
        margin-top: 30px;
        font-size: 15px
    }
    .about-us-image {
        max-width: 100%;
        max-height: 1000000px;
        float: none;
        margin-top: 20px;
        display: block;
        margin-bottom: 1px
    }
    .about-us-image:after {
        content: ' ';
        display: table;
        clear: both;
    }
    .about-us-image img {
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width:802px) {
    body.lock {
        overflow: hidden;
    }
    .header-content {
        max-width: 90%;
        padding-top: 20px;
        justify-content: space-between;
        position: relative;
        z-index: 4;
    }
    .header-contacts {
        display: none
    }
    .header-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }
    .header-burger span {
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header-burger:before,
    .header-burger:after {
        content: " ";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header-burger:before {
        top: 0;
    }
    .header-burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header-burger:after {
        bottom: 0;
    }
    .header-burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header-burger.active span {
        transform: scale(0);
    }
    .navigation {
        border-bottom: none;
    }
    .menu {
        display: block;
        position: fixed;
        top: -150%;
        left: 0;
        width: 100%;
        height: 100vh;
        padding-top: 92px;
        background-color: #000;
        transition: all 0.3s ease 0s;
        overflow: auto;
        z-index: 3;
    }
    .menu.active {
        top: 0;
    }
    .menu li {
        margin-bottom: 25px;
        margin-left: 50%;
    }
    .menu-link {
        color: #fff;
        font-size: 30px;
    }

    .subscribe-us-content>.testimonial-word {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .services-left {
        float: none;
        margin: 0 auto;
    }
    .services-right {
        float: none;
        margin: 0 auto;
    }
    
    .contact-us-contacts {
        max-width: 100%;
        float: none;
        margin: 0 auto;
        text-align: center;
    }
    
    .contact-us-form {
        max-width: 60%;
        float: none;
        margin: 0 auto;
    }
    
    .testimonial-content {
        max-width: 99%;
    }
    
    
    
}

@media (max-width: 590px) {
    .services-left-1 span {
        display: none;
    }
    .services-left {
        max-width: 300px;
    }
    .services-left-text {
        text-align: center;
    }
    .services-right-1 span {
        display: none;
    }
    .services-right {
        max-width: 300px;
    }
    .services-right-text {
        text-align: center;
    }
    .rogue,
    .tomb-raider,
    .ryse,
    .lich-king {
        margin: 10px auto;
    }
    .news-left {
        width: 100%;
        float: none;
        margin: 0 auto;
    }
    .news-right {
        width: 100%;
        float: none;
        margin: 0 auto;
    }
    
}

